{% extends "layout.html" %}

{% block title %}
    Buy Stocks
{% endblock %}

{% block main %}
    <div class="container col-3">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Current Cash: </td>
                    <td>{{ user[0]["cash"] | usd }}</td>
                </tr>
                <tr>
                    <td>Current Total</td>
                    <td>{{ user[0]["total"] | usd }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <h3>Add Cash:</h3>
    <form action="/addcash" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="cash" name="cash" placeholder="Enter total" type="cash">
        </div>
        <button class="btn btn-primary" type="submit">Add Cash</button>
    </form>
{% endblock %}
