{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
        <div class="container col-11 mx_auto">
            <h2>History</h2>
            <br><br>
            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Symbol</th>
                        <th scope="col">Shares</th>
                        <th scope="col">Price</th>
                        <th scope="col">Transacted</th>
                    </tr>
                </thead>
                <tbody>
                    {% for history in history %}
                    <tr>
                        <td>{{ history["symbol"] }}</td>
                        <td>{{ history["shares"] }}</td>
                        <td>{{ history["price"] | usd }}</td>
                        <td>{{ history["time"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}
