{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
        <div class="container col-11 mx_auto">
            <h2>Portfolio</h2>
            <br><br>
            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Symbol</th>
                        <th scope="col">Shares</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for portfolio in portfolio %}
                    <tr>
                        <td>{{ portfolio["name"] }}</td>
                        <td>{{ portfolio["symbol"] }}</td>
                        <td>{{ portfolio["shares"] }}</td>
                        <td>{{ portfolio["price"] | usd }}</td>
                        <td>{{ portfolio["total"] | usd }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="container col-3">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Cash</td>
                            <td>{{ user[0]["cash"] | usd }}</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>{{ user[0]["total"] | usd }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}
