{% extends "layout.html" %}

{% block title %}D&Dice{% endblock %}

{% block main %}

    <div class="grid grid-cols-5 grid-rows-2 gap-10 place-content-center pl-10 pr-10 xl:pl-44 xl:pr-44">
        
        <!-- Custom Rolls Section! -->
        <div class="col-span-5 lg:col-span-3 rounded-lg drop-shadow-xl bg-base-300 p-10">
            <span class="prose">
                <h1 class="text-center">Your Custom Rolls</h1>

                <!-- ERROR MESSAGE PROMPT -->
                {% block error1 %}
                    {% if custom_error != "" %}
                        <div class="alert shadow-lg">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                                <span>{{ custom_error }}</span>
                            </div>
                        </div>
                    {% endif %}
                {% endblock %}
                
                <!-- INPUT FORMS -->
                <form action="/" method="POST">
                    <div class="grid grid-cols-4 grid-rows-2 gap-5 justify-center items-center pb-0 h-min">
                        <div class="form-control col-span-2">
                            <label class="label">
                                <span class="label-text">Roll Name</span>
                            </label>
                            <input type="text" placeholder="(ex. axe attack)" name="custom-name" label="custom-roll" class="input input-bordered"></input>
                        </div>
                        <div class="form-control col-span-2">
                            <label class="label">
                                <span class="label-text">Dice Roll</span>
                            </label>
                            <input type="text" placeholder="(ex. 1d4+3d6+3)" name="custom-roll" label="custom-roll" class="input input-bordered">
                        </div>
                        <div class="form-control row-start-2 col-span-4">
                            <button type="submit" name="build-roll" class="btn btn-primary">Build Roll</button>
                        </div>
                    </div>
                </form>
                <div class="divider"></div> 
            </span>
        </div>

        <!-- Script to fill in the input with modifier commands -->
        <script>
            function button_input(dice_name) {
                let input = document.getElementById('dice-roll');
                let position = input.value.search("d"+dice_name); // search for the position of the dice in question
                if (position == -1) // if the die has not yet been entered
                {
                    if (input.value == null | input.value == "") { // if this is the first input
                        input.value = "1d" + dice_name;
                    }
                    else { // if this is a proceeding input
                        input.value += "+1d" + dice_name;
                    }
                }
                else {
                    let num = input.value.charAt(position - 2) + input.value.charAt(position - 1); // grabs two digits
                    num = parseInt(num); // abandons the + sign if there is one
                    if (num >= 10) { // if num IS two digits
                        input.value = input.value.substring(0, position - 2) + (num + 1) + input.value.substring(position, input.value.length);
                    }
                    else { // if num is 1 digit
                        input.value = input.value.substring(0, (position - 1)) + (num + 1) + input.value.substring(position, input.value.length);
                    }
                }
            }
        </script>
        
        <!-- Dice Rolling Section! -->
        <div class="row-start-2 col-start-1 col-span-5 lg:row-start-1 lg:col-span-2 lg:col-start-4 rounded-lg drop-shadow-xl bg-base-300 p-10">
            <span class="prose">
                <h1 class="text-center">Quick Roller</h1>
                <p class="text-justify">For rolls you need once and never again! Press the buttons to build your roll or type in a custom command!</p>
                <div class="place-content-center grid grid-cols-4 grid-rows-2 gap-1">
                    <button onClick="button_input(2)" class="btn btn-lg btn-square bg-secondary-focus btn-secondary border-dotted border-secondary-content border-2">d2</button>
                    <button onClick="button_input(4)" class="btn btn-lg btn-square bg-secondary-focus btn-secondary border-dotted border-secondary-content border-2">d4</button>
                    <button onClick="button_input(6)" class="btn btn-lg btn-square bg-secondary-focus btn-secondary border-dotted border-secondary-content border-2">d6</button>
                    <button onClick="button_input(8)" class="btn btn-lg btn-square bg-secondary-focus btn-secondary border-dotted border-secondary-content border-2">d8</button>
                    <button onClick="button_input(10)" class="btn btn-lg btn-square bg-secondary-focus btn-secondary border-dotted border-secondary-content border-2">d10</button>
                    <button onClick="button_input(12)" class="btn btn-lg btn-square bg-secondary-focus btn-secondary border-dotted border-secondary-content border-2">d12</button>
                    <button onClick="button_input(20)" class="btn btn-lg btn-square bg-secondary-focus btn-secondary border-dotted border-secondary-content border-2">d20</button>
                    <button onClick="button_input(100)" class="btn btn-lg btn-square bg-secondary-focus btn-secondary border-dotted border-secondary-content border-2">d100</button>
                </div>
                <!-- ERROR MESSAGE -->
                {% block error2 %}
                    {% if quick_error != "" %}
                        <br>
                        <div class="alert shadow-lg">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                                <span>{{ quick_error }}</span>
                            </div>
                        </div>
                    {% endif %}
                {% endblock %}
                
                <!-- Input boxes -->
                <form action="/" method="POST">
                    <div class="pt-5 pb-5">
                        <div class="form-control col-span-2">
                            <input id="dice-roll" type="text" name="dice-roll" placeholder="Dice Roll (ex. 1d4+3d6+3)" label="dice roll" class="input input-bordered">
                        </div>
                    </div>
                    <div class="pl-20 pr-20">
                        <div class="form-control">
                            <label class="label cursor-pointer">
                                <span class="label-text">Advantage</span> 
                                <input type="radio" name="advantage-check" class="radio checked:bg-secondary">
                            </label>
                        </div>
                        <div class="form-control">
                            <label class="label cursor-pointer">
                                <span class="label-text">Disadvantage</span> 
                                <input type="radio" name="advantage-check" class="radio checked:bg-secondary">
                            </label>
                          </div>
                        <div class="form-control">
                            <label class="label cursor-pointer">
                                <span class="label-text">None</span> 
                                <input type="radio" name="advantage-check" class="radio checked:bg-secondary" checked>
                            </label>
                        </div>
                    </div>
                    <div class="form-control mt-6">
                        <button type="submit" name="calculate" class="btn btn-primary">Calculate</button>
                    </div>
                </form>

                <!-- TABLE -->
                <div class="overflow-x-auto">
                    <table class="table-normal rounded-xl border-2 border-secondary-content drop-shadow-lg border-dotted">
                        <!-- head -->
                        <thead class="bg-secondary-focus">
                            <tr>
                            <th class="w-3/4">Raw Rolls</th>
                            <th>Total</th>
                            </tr>
                        </thead>
                        <tbody class="rounded-xl bg-base-100" >
                            <!-- row 1 -->
                            <tr>
                            <td>
                                {{ raw }}
                            </td>
                            <td>12</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </span>
        </div>
    </div>

{% endblock %}