{% extends "layout.html" %}

{% block title %}D&Dice | Register{% endblock %}

{% block main %}
    <div class="flex flex-col justify-center items-center basis-1/2 p-3">
        <div class="p-3"><h1 class="text-base-content h1 prose-2xl"><b>Register</b></h1></div><br>
        <div class="pb-1"><input type="text" placeholder="Username" name="username" label="username" class="input-preset input input-bordered input-primary"></div><br>
        <div class="pb-1"><input type="text" placeholder="Password" name="password" label="password" class="input-preset input input-bordered input-primary"></div><br>
        <div class="pb-1"><input type="text" placeholder="Confirm password" name="confirmation" label="input-preset input input-bordered input-primary"></div><br>
        <div><button type="submit" class="btn btn-secondary">Login</button></div>
        <div class="alert alert-error shadow-lg">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
              <span>{{ error }}</span>
            </div>
        </div>
    </div>
{% endblock %}